<div class=toolbardemoBasicUsage ng-cloak>

	<md-toolbar class="grey" ng-if="nav._$rootScope.toolbarMode === 2">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="nav.toggleLeft()">
				<md-icon md-svg-icon="../../assets/icons/ic_menu_white_24px.svg"></md-icon>
			</md-button>
			<h1>
				<span>{{nav._$rootScope.title}}</span>
			</h1>
			<span flex></span>
			<md-button ng-click="nav.newPatient()">Agregar nuevo</md-button>
		</div>
	</md-toolbar>

	<md-toolbar class="grey" ng-if="nav._$rootScope.toolbarMode === 0">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="nav.goBack()">
				<md-icon md-svg-icon="../../assets/icons/ic_arrow_back_white_24px.svg"></md-icon>
			</md-button>
			<h1 flex md-truncate>
				<span>{{nav._$rootScope.title}}</span>
			</h1>
			<md-button class="md-icon-button" aria-label="Guardar" ng-click="nav.action()">
				<md-tooltip md-direction="bottom">Guardar</md-tooltip>
				<md-icon md-svg-icon="../../assets/icons/content-save.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Ir a receta" ng-click="nav.secondAction()">
				<md-tooltip md-direction="bottom">Ir a receta</md-tooltip>
          		<md-icon md-svg-icon="../../assets/icons/medical-bag.svg" style="color: greenyellow;"></md-icon>
        	</md-button>

		</div>
	</md-toolbar>

	<md-toolbar class="grey" ng-if="nav._$rootScope.toolbarMode === 1">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="nav.goBack()">
				<md-icon md-svg-icon="../../assets/icons/ic_arrow_back_white_24px.svg"></md-icon>
			</md-button>
			<h1>
				<span>{{nav._$rootScope.title}}</span>
			</h1>
			<span flex></span>
		</div>
	</md-toolbar>

	<md-toolbar ng-if="nav._$rootScope.toolbarMode === 3">
		<div class="md-toolbar-tools">
			<h2>
				<span>{{nav._$rootScope.title}}</span>
			</h2>
			<span flex></span>
			<md-button ng-click="nav.logOut()">Log out</md-button>
		</div>
	</md-toolbar>

	<md-toolbar ng-if="nav._$rootScope.toolbarMode === 4">
		<div class="md-toolbar-tools">
			<h2>
				<span>{{nav._$rootScope.title}}</span>
			</h2>
		</div>
	</md-toolbar>

	<md-toolbar class="grey" ng-if="nav._$rootScope.toolbarMode === 5">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="nav.goBack()">
				<md-icon md-svg-icon="../../assets/icons/ic_arrow_back_white_24px.svg"></md-icon>
			</md-button>
			<h1>
				<span>{{nav._$rootScope.title}}</span>
			</h1>
			<span flex></span>
			<md-button ng-click="nav.newCheckUp()">Nueva Consulta</md-button>
		</div>
	</md-toolbar>

	<md-toolbar class="grey" ng-if="nav._$rootScope.toolbarMode === 6">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="nav.genericGoBack()">
				<md-icon md-svg-icon="../../assets/icons/ic_arrow_back_white_24px.svg"></md-icon>
			</md-button>
			<h1>
				<span>{{nav._$rootScope.title}}</span>
			</h1>
			<span flex></span>
		</div>
	</md-toolbar>

	<md-toolbar class="grey" ng-if="nav._$rootScope.toolbarMode === 7">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="nav.genericGoBack()">
				<md-icon md-svg-icon="../../assets/icons/ic_arrow_back_white_24px.svg"></md-icon>
			</md-button>
			<h1 flex md-truncate>
				<span>{{nav._$rootScope.title}}</span>
			</h1>
			<md-button class="md-icon-button" aria-label="Guardar" ng-click="nav.action()">
				<md-tooltip md-direction="bottom">Guardar</md-tooltip>
				<md-icon md-svg-icon="../../assets/icons/content-save.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<div id="loading-bar-container"></div>

	<md-sidenav class="md-sidenav-left md-whiteframe-6dp" md-component-id='left'>
		<md-toolbar class="md-theme-light">
			<h1 class=md-toolbar-tools> Men&uacute;</h1>
			<md-content flex>
				<div layout="column">
					<!--<md-button class='no-padding md-primary'  ng-click='nav.goHome()' target='_self' style='color: #000'>
          	<md-icon md-svg-icon='/assets/icons/ic_home_black_24px.svg'></md-icon>
            Home
          </md-button>
					<md-button class='no-padding md-primary'  ng-click='nav.goToList()' target='_self' style='color: #000'>
          	<md-icon md-svg-icon='/assets/icons/ic_list_black_24px.svg'></md-icon>
            Got to list
          </md-button>-->
					<md-button class='no-padding md-primary' ng-click='nav.logOut()' target='_self' style='color: #000'> Cerrar sesión
</md-button>
</div>
</md-content>
</md-toolbar>
</md-sidenav>
</div>