#back {
  background: linear-gradient(0deg, #FFFFFF 50%, #607D8B 50%);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logo_bar{
  background-color: #EAEEF1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 15%;
  min-width: 91px !important;
}

#logo_bar_container{
  background-color: #EAEEF1;
  padding: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}

#card_login{
  margin-left: auto;
  margin-right: auto;
  width : 31% !important;
  min-width: 281px;
}

#card_login_registro{
  margin-left: auto;
  margin-right: auto;
  width : 70% !important;
  min-width: 281px;
}

#card_login_container{
  padding: 20px;
}

.btnLargo{
  width: 100% !important;
  margin: 6px 0px !important;
}

.btnMediano{
  width: 50% !important;
  margin: 6px 0px !important;
}

.dosBotones{
  width: 47% !important;
  margin: 6px 3px !important;
  float: left;
}

md-checkbox.md-checked.azuly .md-icon {
 background-color: #00796B;
}

md-checkbox.md-checked.verdey .md-icon {
 background-color: rgb(61, 173, 44);
}

.btnVerdy {
 background-color: rgb(61, 173, 44);
 color:white;
}
.btnVerdy:not([disabled]):hover, #btnRegistro:hover{
background-color: rgb(69, 197, 50) !important;
}

.btnAzuly {
 background-color: #009688;
 color:white;
}

/*when hovering above button*/
.btnAzuly:not([disabled]):hover{
 background-color:#00796B !important;
}

.verdy{
  background-color: rgb(61, 173, 44) !important;
}

#btnRegistro{
  position: absolute;
  top: 231px;
  left: 70%;
  float: left;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #009688 ;
}


md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #009688 !important;
}

/*when button disabled*/
a.md-button.md-default-theme[disabled], a.md-button[disabled], .md-button.md-default-theme[disabled], .md-button[disabled] {
    background-color: #B2DFDB;
    color:white !important;
}